<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labyrinth</title>
    <link rel="stylesheet" href="../static/lab_game.css">
</head>
<body>
<div class="vertical-center">
<pre>
<h1>___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ </h1>
<h1>  • | •   • |   |     •  _•_  • | •   • | •   • |     •   • |___ ___     ___ ___|</h1>
<h1>|_•_ _•_| • |___ ___|_•_  • |_•_ _•_| • | • | • |___| • |_•_ _•_  • |___ ___    |</h1>
<h1>|    ___|_•_ _•_  • | •  _•_|    ___|_•_ _•_|_•_  • | • |___ ___ _•_ _•_ _•_  • |</h1>
<h1>| •  _•_  • | •  _•_|_•_  • |        ___ ___    | • | •  _•_  • |___ ___    | • |</h1>
<h1>| • |   |_•_ _•_| •  _•_ _•_|   |___    |    ___| • |___ ___|_•_  •   • | •  _•_|</h1>
<h1>| • |       |    _•_ _•_  • |___ ___|   |___    |_•_ _•_ _•_  • |___| • |_•_  • |</h1>
<h1>| • |   |___|   | •  _•_ _•_|    ___ ___|    ___| •  _•_  • | • | •  _•_|   | • |</h1>
<h1>| • |    ___ ___|_•_  • |    ___|    ___ ___|   | • |   | • | • | • | •  _•_ _•_|</h1>
<h1>| • |___| •  _•_ _•_ _•_|   |    ___|        ___| • |   | • |_•_ _•_|_•_ _•_  • |</h1>
<h1>| • | •  _•_|    ___ ___ ___|   |___ ___|___    |_•_  • |_•_ _•_ _•_ _•_ _•_ _•_|</h1>
<h1>|_•_ _•_|    ___ ___    |   |___    |       |___    |_•_  • |___ ___  •  _•_  • |</h1>
<h1>|       |___ ___    |   |___ ___ ___ ___|___    |    ___|_•_ _•_ _•_ _•_| •  _•_|</h1>
<h1>|   |   |    ___ ___|___ ___    |___        |   |   | •  _•_ _•_ _•_  • |_•_  • |</h1>
<h1>|   |   |   |___         ___|___    |___|___    |   |_•_  • |    ___|_•_  • | • |</h1>
<h1>|   |   |___    |   |___ ___    |   |       |    ___| •  _•_|    ___    |_•_ _•_|</h1>
<h1>|   |   |    ___|___ ___    |   |   |   |   |___| •  _•_|   |    ___| •   • |   |</h1>
<h1>|   |___|___ ___    |___ ___|   |___ ___|   | •  _•_|___ ___ ___| •  _•_| • |   |</h1>
<h1>|        ___ ___|___ ___     ___ ___|    ___| • | •  _•_ _•_  • | • |   |_•_  • |</h1>
<h1>|   |   |    ___ ___    |   |    ___ ___| •  _•_|_•_  • |   | • | • |   | •  _•_|</h1>
<h1>|___|___ ___ ___ ___|___ ___|___ ___ ___ _•_ _•_ _•_ _•_|___ _•_ _•_|___ _•_ _•_ </h1>
</pre> </div>
<form method="get" action="/Labyrinth">
            <button class="button button1" type="submit">Back</button>
        </form>
</body>
</html>
