<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="stylesheet" href="../static/lab_rules.css">
</head>
<body>
<br>
<h1>Rules of Labyrinth</h1>
<div>
    <dl>
        <dt class="dt1">What can be easier than the rules of labyrinth?<dt>
        <dt>Choose your favourite size</dt>
        <dt>Solve the puzzle!</dt>
        <dt>Can't find a solution? <br>Look at the answer!</dt>
    </dl>
</div>
<br>
<form method="get" action="/Labyrinth">
    <button>Back</button>
</form>
</body>
</html>