body {
  background-image: url("meadow1.jpg");
  text-align: center;
}
p {
  color: midnightblue;
  font-size: 250%;
  margin: 0;
}
input {
  height: 50px;
  width: 120px;
  font-size: 150%;
  margin-top: 10px;
  text-align: center;
}
select {
  font-size: 150%;
  margin-top: 10px;
  text-align: center;
}
.button{
  background-color: midnightblue;
  color: blanchedalmond;
  border: none;
  display: inline-block;
  font-size: 28px;
  box-shadow: 0 12px 10px 0 rgba(0,0,0,0.5), 0 6px 4px 0 rgba(0,0,0,0.3);
  border-radius: 15px;
  margin-top: 20px;
}
.button1 {
  padding: 15px 28px;
}
.button:hover {
  background-color: blanchedalmond;
  color: midnightblue;
}
